<p id="notice"><%= notice %></p>

<p>
  <strong>Pago:</strong>
  <%= @mensalidade.pago %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @mensalidade.mes %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @mensalidade.ano %>
</p>

<p>
  <strong>Aluno:</strong>
  <%= @mensalidade.aluno.nome %>
</p>

<p>
  <strong>Solicitacao Matricula:</strong>
  <%= @mensalidade.solicitacao_matricula.id %>
</p>
<strong>Mensalidade:</strong>
  <%= valor_formatado(@mensalidade.solicitacao_matricula.matriculas.inject(0){|sum, matricula| sum + matricula.turma.valor}) %>
  </p>

<%= link_to t('.back', :default => t("helpers.links.back")),
              mensalidades_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_mensalidade_path(@mensalidade), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              mensalidade_path(@mensalidade),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza?')) },
              :class => 'btn btn-danger' %>