<body>
  
    <ul>
      <% @usuario = current_user %>
  <h2>Turmas de: <%= @usuario.aluno.nome %></h2>
     <p><li>Matrícula: <%= @usuario.aluno.matricula %></li></p>
     <p><li>Nome: <%= @usuario.aluno.nome %></li></p>
     <p><li>E-mail: <%= @usuario.email %></li></p>
     <p><li>Qtd. de Turmas: <%= @usuario.aluno.matriculas.size %></li></p>
     <p><li>Turmas:</li></p>
     <% @usuario.aluno.matriculas.each do |mat| %>
     <% @mat = mat %>
    <p><%= "#{mat.turma.codigo} - #{mat.turma.semestre}" %></p>
    <% end %>
   
      <li><%= link_to 'Editar', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>

    </ul>
</body>
    

