<%= form_for @aluno, :html => { :class => "form-horizontal aluno" } do |f| %>
  <% if @aluno.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@aluno.errors.count, "error") %> prohibited this aluno from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @aluno.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>
    <%=f.error_span(:nome) %>
  </div>
  <div class="form-group">
    <%= f.label :nascimento, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_select :nascimento, :start_year => 1950, :order => [:day, :month, :year], :class => 'form-control' %>
    </div>
    <%=f.error_span(:nascimento) %>
  </div>
  <div class="form-group">
    <%= f.label :endereco, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :endereco, :class => 'form-control' %>
    </div>
    <%=f.error_span(:endereco) %>
  </div>
  <div class="form-group">
    <%= f.label :telefone, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :telefone, :limit => 11, :class => 'form-control' %>
    </div>
    <%=f.error_span(:telefone) %>
  </div>
  <div class="form-group">
    <%= f.label :cpf, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :cpf, :class => 'form-control' %>
    </div>
    <%=f.error_span(:cpf) %>
  </div>
  <div class="form-group">
    <%= f.label :rg, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :rg, :class => 'form-control' %>
    </div>
    <%=f.error_span(:rg) %>
  </div>
  <div class="form-group">
    <%= f.label :mensalidade, :class => 'control-label col-lg-2' %>
    <div class="col-lg-3">
      <%= f.text_field :mensalidade, :class => 'form-control' %>
    </div>
    <%=f.error_span(:mensalidade) %>
  </div>
  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:status, ['Ativo', 'Inativo']) %>
    </div>
    <%=f.error_span(:status) %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, "Email", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :user_id, @users, :id, :email, prompt: "Selecione", 
      :class => 'form-control' %>
    </div>
    <%=f.error_span(:user_id) %>
  </div>
  <div class="form-group">
    <%= f.label :sexo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:sexo, ["Masculino","Feminino"], prompt: "Selecione") %>
    </div>
    <%=f.error_span(:sexo) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                alunos_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>