
<%- model_class = Aluno -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th><%= "Matrícula" %></th>
      <th><%= "Nascimento" %></th>
      <th><%= "Endereço" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th><%= model_class.human_attribute_name(:cpf) %></th>
      <th><%= model_class.human_attribute_name(:rg) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= "Usuário" %></th>
      <th><%= model_class.human_attribute_name(:curso_id) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th><%= model_class.human_attribute_name(:sexo) %></th>
      <th><%= model_class.human_attribute_name(:mensalidade) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      
    </tr>
  </thead>
  <tbody>
    <% @alunos.each do |aluno| %>
      <tr>
        <td><%= aluno.id %></td>
        <td><%= aluno.nome %></td>
        <td><%= aluno.mat %></td>
        <td><%= aluno.nascimento %></td>
        <td><%= aluno.endereco %></td>
        <td><%= aluno.cpf %></td>
        <td><%= aluno.rg %></td>
        <td><%= aluno.status %></td>
        <td><%= aluno.user.email %></td>
        <td><%= aluno.curso_nome %></td><!--O metodo curso_nome esta no models aluno, serve pra corrigir erro de nada cadastrado.-->
        <td><%= aluno.sexo %></td>
        <td><%= aluno.mensalidade %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_aluno_path(aluno), :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Mostrar', aluno, :class => 'btn btn-default btn-xs'%>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_aluno_path,
            :class => 'btn btn-primary' %>

