
<body>

    <ul>
      <% @usuario = current_user %>
  <h2>Bem vindo: <%= @usuario.aluno_nome %></h2> <!-- metod aluno_nome esta no model user, usado pra nao da erro quando não tem nenhuma luno cadastrado -->

     <p><li>Matricula: <%= @usuario.aluno_mat %></li></p>
     <p><li>Nome: <%= @usuario.aluno_nome %></li></p>
     <p><li>E-mail: <%= @usuario.email %></li></p>
     <p><li> Mensalidade: R$ <%= @usuario.aluno_mensalidade %>,00</li></p>
     <p><li>Endereço: <%= @usuario.aluno_endereco %></li></p>
     <p><li>Cadastrado: <%= @usuario.aluno_created_at %></li></p>

      <li><%= link_to 'Editar', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>

    </ul>
</body>


