<%- model_class = Funcao -%>
<div class="page-header">
  <h1><%= "Matrículas" %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= 'Nº' %></th>
      <th><%= model_class.human_attribute_name(:semestre) %></th>
      <th><%= model_class.human_attribute_name(:inicio) %></th>
      <th><%= model_class.human_attribute_name(:fim) %></th>
      <th><%= model_class.human_attribute_name(:ap1) %></th>
      <th><%= model_class.human_attribute_name(:ap2) %></th>
      <th><%= model_class.human_attribute_name(:ap3) %></th>
      <th><%= model_class.human_attribute_name(:faltas) %></th>
      <th><%= model_class.human_attribute_name(:aluno) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th><%= "Funcionário" %>&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th><%= "Turma" %>&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th><%= model_class.human_attribute_name(:created_at) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th><%=t '.actions', :default => t("helpers.actions") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @matriculas.each do |matricula| %>
      <tr>
        <td><%= link_to matricula.id, matricula_path(matricula) %></td>
        <td><%= matricula.semestre %></td>
        <td><%= matricula.inicio %></td>
        <td><%= matricula.fim %></td>
        <td><%= matricula.ap1 %></td>
        <td><%= matricula.ap2 %></td>
        <td><%= matricula.ap3 %></td>
        <td><%= matricula.faltas %></td>
        <td><%= matricula.aluno.nome %></td>
        <td><%= matricula.funcionario.nome %></td>
        <td><%= matricula.turma.codigo %></td>
        <td><%=l matricula.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_matricula_path(matricula), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      matricula_path(matricula),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <%= link_to 'Mostrar', matricula, :class => 'btn btn-default btn-xs'%>
        </td>
      </tr>
    <% end %>
    <%= paginate @matriculas %>
  </tbody>
</table>
<br>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_matricula_path,
            :class => 'btn btn-primary' %>
