<%= form_for(@matricula) do |f| %>
  <% if @matricula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@matricula.errors.count, "error") %> prohibited this matricula from being saved:</h2>

      <ul>
      <% @matricula.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :semestre %><br>
    <%= f.text_field :semestre %>
  </div>
  <div class="field">
    <%= f.label :inicio %><br>
    <%= f.date_select :inicio %>
  </div>
  <div class="field">
    <%= f.label :fim %><br>
    <%= f.date_select :fim %>
  </div>
  <div class="field">
    <%= f.label :valor %><br>
    <%= f.text_field :valor %>
  </div>
  <div class="field">
    <%= f.label :pago %><br>
    <%= f.check_box :pago %>
  </div>
  <div class="field">
    <%= f.label :aluno_id %><br>
    <%= f.collection_select :aluno_id, Aluno.all, :id, :nome, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :funcionario_id %><br>
    <%= f.collection_select :funcionario_id, Funcionario.all, :id, :nome, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :curso_id %><br>
    <%= f.collection_select :curso_id, Curso.all, :id, :nome, prompt: true %>
  </div>
  <%#= f.collection_check_boxes(:turma_ids, Turma.all, :id, :codigo) %>
  <div class="field">
    <%= f.label :turma_ids %><br>
    <%= f.collection_select :turma_ids, Turma.all, :id, :codigo,{}, {:multiple => true, class: 'select2'} %>
  </div>
   <div class="field">
    <%= f.label :disciplina_ids %><br>
    <%= f.collection_select :disciplina_ids, Disciplina.all, :id, :nome,{}, {:multiple => true, class: 'select2'} %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select(:status, ["Pendente", "Ativo", "Inativo"] ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>