<p id="notice"><%= notice %></p>
<%- model_class = Funcao -%>
<div class="page-header">
  <h1><%= t(".Matriculas") %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:numero) %></th>
      <th><%= model_class.human_attribute_name(:inicio) %></th>
      <th><%= model_class.human_attribute_name(:fim) %></th>
      <th><%= model_class.human_attribute_name(:valor) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th><%= model_class.human_attribute_name(:aluno) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th><%= model_class.human_attribute_name(:funcionario) %>&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th><%= "Curso" %>&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      
  </thead>

  <tbody>
    <% @matriculas.each do |matricula| %>
      <tr>
        <td><%= matricula.id %></td>
        <td><%= matricula.numero %></td>
        <td><%= matricula.inicio %></td>
        <td><%= matricula.fim %></td>
        <td>R$ <%= matricula.valor %>,00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= matricula.aluno.nome %></td>
        <td><%= matricula.funcionario.nome %></td>
        <td><%= matricula.aluno.curso_nome %></td>
        <td><%=l matricula.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>