<p id="notice"><%= notice %></p>
<%- model_class = Matricula -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:matricula_id) %>:</strong></dt>
  <dd><%= @matricula.id %></dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:semestre) %>:</strong></dt>
  <dd><%= @matricula.semestre %></dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:inicio) %>:</strong></dt>
  <dd><%= @matricula.inicio %></dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:fim) %>:</strong></dt>
  <dd><%= @matricula.fim %></dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:valor) %>:</strong></dt>
  <dd><%= valor_formatado(@matricula.valor) %></dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:pago) %>:</strong></dt>
  <dd><%= @matricula.pago %></dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @matricula.status %></dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:aluno_id) %>:</strong></dt>
  <dd><%= @matricula.aluno.nome %></dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:funcionario_id) %>:</strong></dt>
  <dd><%= @matricula.funcionario.nome %></dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:curso_id) %>:</strong></dt>
  <dd><%= @matricula.curso_nome %></dd>
</dl>
<dl class="dl-horizontal">
<dt><strong><%= "Turmas:" %></strong>&nbsp;&nbsp;&nbsp;&nbsp;</dt>
 <% @matricula.turmas.each do |turma| %>
  <li><%= "Código: #{turma.codigo} - Turno: #{turma.turno} - Semestre: #{turma.semestre}" %></li>
  <% end %>
</dl>
<dl class="dl-horizontal">
<dt><strong><%= "Disciplinas:" %></strong>&nbsp;&nbsp;&nbsp;&nbsp;</dt>
 <% @matricula.disciplinas.each do |disciplina| %>
  <li><%= "Código: #{disciplina.codigo} - Nome: #{disciplina.nome}" %></li>
  <% end %>
</dl>
<br>

<%= link_to t('.back', :default => t("helpers.links.back")),
              matriculas_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_matricula_path(@matricula), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              matricula_path(@matricula),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza?')) },
              :class => 'btn btn-danger' %>