<%- model_class = Funcao -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:cargo) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @funcaos.each do |funcao| %>
      <tr>
        <td><%= funcao.id %></td>
        <td><%= funcao.cargo %></td>
        <td><%=l funcao.created_at %></td>
        
      </tr>
    <% end %>
    <%= paginate @funcaos %>
  </tbody>
</table>
